*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: #212529!important;
}
.setor{
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px 4px;
    background: #1a1d20;
    border-radius: 10px;
    transition: .5s;
}
.setor:hover{
    background: #292E33;
    transition: .5s;
}
.setor h1{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 10px;
    margin: 0!important;
}
.setorAtivos{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: left;
}
.setorAtivos a{
    flex: 1;
}
.ativos{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.ativo{
    min-width: 130px;
    padding: 10px;
    text-align: center;
    margin: .5px;
    color: #fff;
    text-shadow: 0 0 0 #000;
    letter-spacing: 1px;
    text-shadow: .5px .5px 0 rgb(51 50 55 / 29%);
    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.ativo h1{
    font-size: 1.5rem;
}
.ativo h4{
    font-size: .8rem;
}
.ativo h5{
    font-size: .7rem;
    margin-top: 5px;
}
.loading{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
.loading span{
    color: #aaa;
    position: absolute;
    top: 105%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 12px;
    margin-top: 10px;
}
.dIcon{
    float: right;
}
.icon{
    margin-top: 3px;
    font-size: 10px;
    padding: 2px 2px 1px 2px;
    border-radius: 3px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    text-align: center;
}
.icon:hover{
    background-color: #444;
}

/* responsivo */

@media only screen and (min-width: 2300px) {
    .setor{
        width: calc(33% - 8px);
    }
}
@media only screen and (max-width: 940px) {
    .setor{
        width: 100%;
        margin: 10px;
    }
}
@media only screen and (max-width: 350px) {
    .ativo{
        min-width: 70px;
    }
}
.input-dark{
    background-color: #1a1d20!important;
    color: #f8f9fa!important;
    border-color: #f8f9fa!important;
}
.navbar-style{
    background-color: #1a1d20!important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
}
.navbar-title{
    font-family: 'Righteous', cursive;
}