*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: #000;
}
.setor{
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 0;
    margin: 4px;
}
.setor h1{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.setorAtivos{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: left;
}
.setorAtivos a{
    flex: 1;
}
.ativos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.ativo{
    min-width: 130px;
    padding: 10px;
    text-align: center;
    margin: .5px;
    color: #fff;
    text-shadow: 0 0 0 #000;
    letter-spacing: 1px;
    text-shadow: .5px .5px 0 rgb(51 50 55 / 29%);
    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.ativo h1{
    font-size: 1.5rem;
}
.ativo h4{
    font-size: .8rem;
}
.ativo h5{
    font-size: .7rem;
    margin-top: 5px;
}
.loading{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
.loading span{
    color: #aaa;
    position: absolute;
    top: 105%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 12px;
}

/* #bcb2b2 */